.search-bar {
  display: flex;
  margin: 0vh auto;
  justify-content: center;
  text-align: center;
}

.input-bar {
  margin: 5vh;
}

.search-input {
  flex: 1 1 20em;
  margin: 5vh;
  font-size: 1.4em;
  padding: 0.5% 2%;
  color: white;
  background-color: black;
  width: 70vw;
  height: 5vh;
  border-radius: 8px;
  border: none;
}

.search-input:focus {
  box-shadow: 0px 0px 9px 0px #6949ff;
}
.icons-container {
  position: fixed;
  top: 20vh;
}

.icons {
  flex: 2 2 20em;
  display: inline;
  font-size: 1.5em;
  color: #a1a1a1;
  margin: 1vh;
  padding-top: 10vh;
}

.icons:hover {
  color: grey;
}

.icons:active {
  color: black;
}
